@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1172px;
  color: #808080;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.9375rem; /* 15px / 16px = 0.9375rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  padding: 75px 0 0;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  background: url(images/1_xiaoxisc_com.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  margin: 0 auto;
  position: relative;
  width: 1172px;
}
.group-2 {
  margin: 0 -1px 0 0;
  position: relative;
}
.group-3 {
  float: left;
  height: 44px;
  position: relative;
  width: 243px;
}
.layer {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -121.5px;
}
.text {
  left: 50%;
  position: absolute;
  top: 2px;
  margin-left: -109.5px;
}
.group-4 {
  float: right;
  margin: 4px 0 0;
  position: relative;
  width: 356px;
}
.text-2 {
  float: left;
  margin: 12px 0 0;
}
.layer-holder {
  float: right;
  padding: 13px 0;
  position: relative;
  width: 36px;
  background: #ef5f60;
}
.layer-2 {
  display: block;
  margin: 0 auto;
}
.main-content-wrapper {
  margin: 60px auto 0;
  position: relative;
}
.group-5 {
  margin: 0 auto;
  padding: 64px 0 67px;
  position: relative;
  background: #f1f4f5;
}
.l-constrained-3 {
  margin: 0 auto;
  padding: 0 3px;
  position: relative;
  width: 1172px;
}
.text-3 {
  display: block;
  position: relative;
}
.text-4 {
  margin: 19px 0 0;
}
.l-unconstrained {
  margin: 83px 0 0;
  position: relative;
}
.l-constrained {
  margin: 0 auto;
  position: relative;
  width: 1172px;
}
.group-6 {
  margin: 0 0 0 1px;
  position: relative;
}
.group-6 > * {
  float: left;
  margin: 0 10px 0 0;
}
.group-6 > *:last-child {
  margin-right: 0 !important;
}
.col-8 {
  position: relative;
  width: 382px;
}
.game {
  display: block;
  position: relative;
}
.wrapper-14 {
  height: 301px;
  margin: 27px 0 0;
  position: relative;
  width: 382px;
}
.layer-3 {
  left: 50%;
  position: absolute;
  top: 1px;
  width: 380px;
  margin-left: -191px;
}
.layer-4 {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -191px;
}
.layer-5 {
  display: block;
  margin: 15px 0 0;
  position: relative;
  width: 380px;
}
.layer-6 {
  display: block;
  margin: 15px 0 0;
  position: relative;
  width: 380px;
}
.col-11 {
  position: relative;
  width: 389px;
  margin-top: 43px !important;
}
.wrapper-8 {
  height: 306px;
  margin: 0 auto;
  position: relative;
  width: 383px;
}
.layer-7 {
  left: 50%;
  position: absolute;
  top: 1px;
  width: 380px;
  margin-left: -188.5px;
}
.layer-8 {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -191.5px;
}
.layer-9 {
  display: block;
  margin: 10px auto 0;
  width: 380px;
}
.layer-10 {
  display: block;
  margin: 15px auto 0;
  width: 380px;
}
.text-5 {
  display: block;
  margin: 65px auto 0;
}
.row {
  margin: 24px auto 0;
  min-height: 40px;
  padding: 15px 13px 14px 15px;
  position: relative;
  width: 114px;
  background: #ef5f60;
}
.layer-11 {
  float: left;
  margin: 1px 6px 0 0;
}
.text-6 {
  float: left;
}
.col {
  position: relative;
  width: 380px;
  margin-top: 44px !important;
}
.layer-12 {
  display: block;
  width: 380px;
}
.layer-13 {
  display: block;
  margin: 15px 0 0;
  width: 380px;
}
.layer-14 {
  display: block;
  margin: 15px 0 0;
  width: 380px;
}
.group-7 {
  margin: 67px 1px 0;
  position: relative;
}
.col-4 {
  float: left;
  position: relative;
  width: 554px;
}
.text-7 {
  display: block;
  position: relative;
}
.text-8 {
  margin: 23px 0 0;
  letter-spacing: 0.02em;
  text-align: center;
}
.row-7 {
  left: 8px;
  margin: 48px auto 0;
  position: relative;
  width: 410px;
}
.layer-holder-2 {
  float: left;
  padding: 30px 0;
  position: relative;
  width: 110px;
  background: url(images/47_xiaoxisc_com.png) no-repeat;
}
.layer-15 {
  display: block;
  margin: 0 auto;
}
.layer-holder-3 {
  float: right;
  padding: 31px 0;
  position: relative;
  width: 110px;
  background: url(images/47_xiaoxisc_com.png) no-repeat;
}
.layer-16 {
  display: block;
  margin: 0 auto;
}
.row-8 {
  display: table;
  margin: 37px auto 0;
  position: relative;
}
.python {
  float: left;
  margin: 0 249px 0 0;
}
.tiktok {
  float: left;
}
.row-9 {
  left: 6.5px;
  margin: 17px auto 0;
  position: relative;
  width: 541px;
}
.text-9 {
  float: left;
  width: 243px;
  line-height: 25px;
  text-align: center;
}
.text-10 {
  float: right;
  width: 239px;
  line-height: 25px;
  text-align: center;
}
.text-11 {
  display: block;
  margin: 148px 0 0 7px;
  position: relative;
}
.col-5 {
  float: left;
  margin: 103px 0 0 62px;
  position: relative;
  width: 247px;
}
.layer-holder-4 {
  margin: 0 auto;
  padding: 28px 0;
  position: relative;
  width: 110px;
  background: url(images/47_xiaoxisc_com.png) no-repeat;
}
.layer-17 {
  display: block;
  margin: 0 auto;
}
.text-12 {
  display: block;
  margin: 37px auto 0;
}
.text-13 {
  margin: 14px auto 0;
  line-height: 25px;
  text-align: center;
}
.col-6 {
  float: left;
  margin: 103px 0 0 52px;
  position: relative;
  width: 240px;
}
.layer-holder-5 {
  margin: 0 auto;
  padding: 32px 0 31px;
  position: relative;
  width: 110px;
  background: url(images/47_xiaoxisc_com.png) no-repeat;
}
.layer-18 {
  display: block;
  margin: 0 auto;
}
.ambition {
  display: block;
  margin: 37px auto 0;
}
.text-14 {
  margin: 17px 0 0;
  text-align: center;
}
.group-8 {
  margin: 57px 0 0 1px;
  position: relative;
  width: 1171px;
}
.col-2 {
  float: left;
  position: relative;
  width: 570px;
}
.row-3 {
  position: relative;
}
.layer-19 {
  float: left;
  margin: 0 24px 0 0;
  width: 180px;
}
.col-13 {
  float: left;
  position: relative;
  width: 366px;
}
.text-15 {
  color: #c3c3c3;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.0625rem; /* 17px / 16px = 1.0625rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.one {
  display: block;
  margin: 17px 0 0;
  position: relative;
}
.text-16 {
  margin: 8px 0 0;
  letter-spacing: 0.02em;
}
.row-5 {
  margin: 50px 0 0;
  position: relative;
}
.layer-20 {
  float: left;
  margin: 0 24px 0 0;
  width: 180px;
}
.col-15 {
  float: left;
  position: relative;
  width: 366px;
}
.text-17 {
  color: #c3c3c3;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.0625rem; /* 17px / 16px = 1.0625rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.three {
  display: block;
  margin: 17px 0 0;
  position: relative;
}
.text-18 {
  margin: 24px 0 0;
  letter-spacing: 0.02em;
}
.col-3 {
  float: right;
  position: relative;
  width: 571px;
}
.row-4 {
  position: relative;
}
.layer-21 {
  float: left;
  margin: 0 24px 0 0;
  width: 180px;
}
.col-14 {
  float: left;
  position: relative;
  width: 367px;
}
.text-19 {
  color: #c3c3c3;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.0625rem; /* 17px / 16px = 1.0625rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.two {
  display: block;
  margin: 17px 0 0;
  position: relative;
}
.text-20 {
  margin: 24px 0 0;
  letter-spacing: 0.02em;
}
.row-6 {
  margin: 50px 0 0;
  position: relative;
}
.layer-22 {
  float: left;
  margin: 0 24px 0 0;
  width: 180px;
}
.col-16 {
  float: left;
  position: relative;
  width: 367px;
}
.text-21 {
  color: #c3c3c3;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.0625rem; /* 17px / 16px = 1.0625rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.four {
  display: block;
  margin: 17px 0 0;
  position: relative;
}
.text-22 {
  margin: 23px 0 0;
  letter-spacing: 0.02em;
}
.footer {
  margin: 148px auto 0;
  position: relative;
}
.group-9 {
  padding: 66px 0 65px;
  position: relative;
  background: #2d2d30;
}
.l-constrained-2 {
  margin: 0 auto;
  position: relative;
  width: 1172px;
}
.text-23 {
  margin: 0 399px;
  color: #bdbdbd;
}
.group-10 {
  margin: 28px auto 0;
  position: relative;
  width: 178px;
}
.group-10 > * {
  float: left;
  margin: 0 7px 0 0;
}
.group-10 > *:last-child {
  margin-right: 0 !important;
}
.group-11 {
  padding: 10px 0;
  position: relative;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fbaa56;
}
.layer-23 {
  display: block;
  margin: 0 auto;
}
.group-12 {
  padding: 9px 0;
  position: relative;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #667eb7;
}
.layer-24 {
  display: block;
  margin: 0 auto;
}
.group-13 {
  padding: 9px 0;
  position: relative;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #6cc1eb;
}
.layer-25 {
  display: block;
  margin: 0 auto;
}
.group-14 {
  padding: 9px 0;
  position: relative;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e498c3;
}
.layer-26 {
  display: block;
  margin: 0 auto;
}
.group-15 {
  padding: 9px 0;
  position: relative;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #da535b;
}
.layer-27 {
  display: block;
  margin: 0 auto;
}
